.highlight  {
    color: #F8F8F2;
    background: #222627;
    font-family: monospace;
    font-size: 12pt;
    font-weight: medium;
    line-height: 1.2em;
    padding: 5px 10px;
    margin-top: 10px;
    overflow: auto;
}
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .c  { color: #71756E; } /* Comment */
.highlight .c1 { color: #71756E; } /* Comment.Single */
.highlight .cm { color: #71756E; } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .err { color: #F92672; } /* Error */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #F8F8F2 } /* Generic.Output */
.highlight .gp { color: #FD971F } /* Generic.Prompt */
.highlight .gr { color: #F92672 } /* Generic.Error */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gt { color: #F92672 } /* Generic.Traceback */
.highlight .gu { color: #F8F8F2 } /* Generic.Subheading */
.highlight .il { color: #E6DB74 } /* Literal.Number.Integer.Long */
.highlight .k  { color: #F92672; font-weight: bold } /* Keyword */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #F92672; font-weight: bold } /* Keyword */
.highlight .kp { color: #F92672; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #F92672; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #FD971F; font-weight: bold } /* Keyword.Type */
.highlight .m  { color: #FD971F } /* Literal.Number */
.highlight .mf { color: #FD971F } /* Literal.Number.Float */
.highlight .mh { color: #FD971F } /* Literal.Number.Hex */
.highlight .mi { color: #FD971F } /* Literal.Number.Integer */
.highlight .mo { color: #FD971F } /* Literal.Number.Oct */
.highlight .n  { color: #F8F8F2; font-weight: bold }
.highlight .na { color: #F8F8F2 } /* Name.Attribute */
.highlight .nb { color: #F92672; font-weight: bold } /* Name.Builtin */
.highlight .nc { color: #66D9EF; font-weight: bold } /* Name.Class */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #C1F161; font-weight: bold } /* Name.Function */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .nn { color: #F8F8F2; font-weight: bold } /* Name.Namespace */
.highlight .no { color: #66D9EF; font-weight: bold } /* Name.Constant */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #8DE6F7 } /* Name.Variable */
.highlight .o  { color: #F8F8F2; font-weight: bold } /* Operator */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .p  { color: #F8F8F2; font-weight: bold }
.highlight .s  { color: #E6DB74 } /* Literal.String */
.highlight .s1 { color: #E6DB74; font-weight: bold } /* Literal.String.Single */
.highlight .s2 { color: #E6DB74 } /* Literal.String.Double */
.highlight .sb { color: #E6DB74 } /* Literal.String.Backtick */
.highlight .sc { color: #E6DB74 } /* Literal.String.Char */
.highlight .sd { color: #E6DB74 } /* Literal.String.Doc */
.highlight .se { color: #E6DB74 } /* Literal.String.Escape */
.highlight .sh { color: #E6DB74 } /* Literal.String.Heredoc */
.highlight .si { color: #E6DB74 } /* Literal.String.Interpol */
.highlight .sr { color: #C1F161" } /* Literal.String.Regex */
.highlight .ss { color: #AE81FF; font-weight: bold } /* Literal.String.Symbol */
.highlight .sx { color: #E6DB74 } /* Literal.String.Other */
.highlight .vc { color: #FD971F } /* Name.Variable.Class */
.highlight .vg { color: #FD971F } /* Name.Variable.Global */
.highlight .vi { color: #FD971F } /* Name.Variable.Instance */
.highlight .w  { color: #F92672 } /* Text.Whitespace */
