meta charset="utf-8"
meta name="viewport" content="width=1024"
meta name="apple-mobile-web-app-capable" content="yes"
- if @page and @page.title
  title= @page.title
- else
  title slide

meta name="author" content="{{site.author}}"
meta name="description" content="{{site.description}}"

- if @site and @site.theme
  link href="css/themes/{{site.theme}}/{{site.theme}}.css" rel="stylesheet"
- else
  link href="https://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet"
  link href="dist/impress.js/css/impress.min.css" rel="stylesheet"

link href="css/syntax.css" rel="stylesheet"
link rel="shortcut icon" href="img/favicon.png"
link rel="apple-touch-icon" href="img/apple-touch-icon.png"
