---
layout: presentation
slide-id: its
title: ~
published: true
classes:
  - step
data:
  x: 850
  y: 3000
  rotate: 90
  scale: 5

---

%p
  It’s a
  %strong presentation tool
  inspired by the idea behind
  %a{href: "http://prezi.com"} prezi.com
  and based on the
  %strong power of CSS3 transforms and transitions
  in modern browsers.
