---
layout: presentation
title: ~
published: true
classes:
 - step
 - slide
data:
  x: 0
  y: -1500

---

%q
  Don’t you think that presentations given
  %strong in modern browsers
  shouldn’t
  %strong copy the limits
  of ‘classic’ slide decks?
