---
layout: presentation
slide-id: ing
title: ~
published: true
classes:
  - step
data:
  x: 3500
  y: -850
  rotate: 270
  scale: 6

---

p
  by <b class="positioning">positioning</b>,
  <b class="rotating">rotating</b> and
  <b class="scaling">scaling</b> them on an infinite canvas
