---
layout: presentation
slide-id: big
title: ~
published: true
classes:
  - step
data:
  x: 3500
  y: 2100
  rotate: 180
  scale: 6

---

p visualize your <b>big</b> <span class="thoughts">thoughts</span>
