---
layout: presentation
slide-id: ing
title: ~
published: true
classes:
  - step
data:
  x: 3500
  y: -850
  rotate: 270
  scale: 6

---

%p
  by
  %b.positioning>< positioning
  ,
  %b.rotating rotating
  and
  %b.scaling scaling
  them on an infinite canvas
