---
layout: presentation
title: bored?
published: true
classes:
 - step
 - slide
data:
  x: -1000
  y: -1500

---
#bored
  q.
    Aren’t you just <b>bored</b> with all those slides-based presentations?
