---
layout: presentation
slide-id: bored
title: bored?
published: true
classes:
 - step
 - slide
data:
  x: -1000
  y: -1500

---

%q
  Aren’t you just
  %b bored
  with all those slides-based presentations?
