---
layout: presentation
slide-id: its-in-3d
title: ~
published: true
classes:
  - step
data:
  x: 6200
  y: 4300
  z: -100
  rotate-x: -40
  rotate-y: 10
  scale: 2

---

p
  span.have have
  =' '
  span.you you
  =' '
  span.noticed noticed
  =' '
  span.its it's
  =' '
  span.in in <b>3D<sup>*</sup></b>?
span.footnote * beat that, prezi ;)
