---
layout: presentation
title: ~
published: true
classes:
 - step
 - slide
data:
  x: 0
  y: -1500

---

q.
  Don’t you think that presentations given <strong>in modern browsers</strong> shouldn’t
  <strong>copy the limits</strong> of ‘classic’ slide decks?
