<!doctype html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  <div id="impress" class="impress-not-supported">
    <div class="fallback-message">
        <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
        <p>For the best experience please use the latest <b>Chrome</b> or <b>Safari</b> browser. Firefox 10 (to be released soon) will also handle it.</p>
    </div>
    {{ content }}
  </div>
</body>
</html>

