doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=1024"
    meta name="apple-mobile-web-app-capable" content="yes"
    - if page and page.title
      title= page.title
    - else
      title slide

    meta name="author" content="{{site.author}}"
    meta name="description" content="{{site.description}}"

    - if site and site.theme
      link href="css/themes/{{site.theme}}/{{site.theme}}.css" rel="stylesheet"
    - else
      link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet"
      link href="vendor/impress.js/css/impress-demo.css" rel="stylesheet"

    link href="css/syntax.css" rel="stylesheet"
    link rel="shortcut icon" href="img/favicon.png"
    link rel="apple-touch-icon" href="img/apple-touch-icon.png"

  - if site.simple-slideshow
    body class="impress-not-supported simple-slideshow">
  - else
    body class="impress-not-supported">
      .fallback-message
        p Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.
        p For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.
      .impress
        = content

      .hint
        p Use a spacebar or arrow keys to navigate

      a href="http://github.com/bmcmurray/hekyll"
        img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"

      script
        if ("ontouchstart" in document.documentElement) {
          document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
        }

      script src="vendor/impress.js/js/impress.js"
      script impress().init()
