<!doctype html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body{% if site.simple-slideshow %} class="simple-slideshow"{% endif; %}>
        <div class="fallback-message">
            <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
            <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
        </div>
        <div id="impress" class="impress-not-supported">
            {{ content }}
        </div>

        <div class="hint">
            <p>Use a spacebar or arrow keys to navigate</p>
        </div>
        <script>
         if ("ontouchstart" in document.documentElement) {
             document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
         }
        </script>
        <script src="dist/impress.js/js/impress.min.js"></script>
        <script>
         impress().init();
         document.body.addEventListener('keyup', function(event){
             if (event.keyCode == 27) {
                 console.log('Overview');
                 document.location.hash = '#/overview';
             }
         });
        </script>
        </div>
    </body>
</html>
